OLLAMA_PUBLIC_URL="https://..."
OLLAMA_VISION_MODEL="qwen3-vl:latest"
OLLAMA_TEXT_MODEL="llama3.2:latest"
OLLAMA_EMBEDDING_MODEL="nomic-embed-text:latest"
LANGCHAIN_PROJECT="LOCAL_MCP"
LANGCHAIN_API_KEY="XXX-XXX-XXX"
LANGSMITH_API_KEY="XXX-XXX-XXX"
LOG_LEVEL="INFO"